// Configuration for UI
$ui-accent-color: #ff8c00;
$ui-base-color: #000000;
$ui-font-family:
  "IBM Plex Mono", "Monaco", "Menlo", "Consolas", "Courier New", monospace;

// Configuration for Lexical Editor
$editor-font-family: $ui-font-family;
$editor-font-size: 14px;
$editor-color: #ffffff;

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgba($ui-accent-color, 0.2),
    $ui-base-color
  );
  background-color: $ui-base-color;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  color: $editor-color;
  font-family: $ui-font-family;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

#root {
  height: 100%;
  width: 100%;
  padding-top: 34px;
}

#root > div > [data-lexical-editor="true"] {
  height: 100%;
  outline: none;
}
